.homepageWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Space between filters and products */
    padding: 20px;
  }
  
  .filtersContainer {
    flex: 0 0 200px; /* Fixed width for the filters */
    display: flex;
    flex-direction: row; /* Stack filters and button vertically */
    gap: 10px; /* Add space between the filters and the button */
  }
  
  .productsContainer {
    flex: 1; /* Take up the remaining space */
    display: flex;
    flex-wrap: wrap; /* Allow products to wrap */
    justify-content: center; /* Center products in the available space */
    gap: 20px; /* Space between products */
  }
  
  .clearFiltersButton {
    width: 100%;
    height: 100px;
    background-color: #1c7763;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .clearFiltersButton:hover {
    background-color: #45a049;
  }
  